
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "Inquire", FormMethod.Post))
{
    <table style="border:3px #cccccc solid; text-align:center" cellpadding="10" border="1" align="center">
        <tr>
            <td colspan="5">新增訂單</td>
        </tr>
        <tr>
            <td>客戶名稱</td>
            <td colspan="4">@Html.DropDownList("CustName", (List<SelectListItem>)ViewBag.Cust)</td>
        </tr>
        <tr>
            <td>負責員工</td>
            <td colspan="4">@Html.DropDownList("EmpName", (List<SelectListItem>)ViewBag.EmpName)</td>
        </tr>
        <tr>
            <td>訂單日期</td>
            <td><input type="date" name="OrderDate"  />
            <td>需要日期</td>
            <td colspan="2"><input type="date" name="RequiredDate"  /></td>
        </tr>
        <tr>
            <td>出貨日期</td>
            <td><input type="date" name="ShippedDate"  /></td>
            <td>運費</td>
            <td colspan="2"><input type="text" name="Freight"  /></td>
        </tr>
        <tr>
            <td>出貨公司名稱</td>
            <td colspan="4">@Html.DropDownList("CpyName", (List<SelectListItem>)ViewBag.CpyName)</td>
        </tr>
        <tr>
            <td>出貨國家</td>
            <td>@Html.TextBox("ShipCountry")</td>
            <td>出貨城市</td>
            <td colspan="2">@Html.TextBox("ShipCity")</td>
        </tr>
        <tr>
            <td>出貨地區</td>
            <td>@Html.TextBox("ShipRegion")</td>
            <td>郵遞區號</td>
            <td colspan="2">@Html.TextBox("ShipPostalCode")</td>
        </tr>
        <tr>
            <td>出貨地址</td>
            <td>@Html.TextBox("ShipAddress")</td>
            <td>出貨說明</td>
            <td colspan="2">@Html.TextBox("Content")</td>
        </tr>
        <tr>
            <td colspan="2">訂單金額總計</td>
            <td align="right" colspan="3">50000</td>
        </tr>
        <tr>
            <td><input type="button" onclick="javascript:window.history.go(-1);" value="返回上一頁"></td>
            <td colspan="4">
                <input type="submit" name="submit" value="存檔" />
            </td>
        </tr>

        <tr>
            <td colspan="5">訂單明細</td>
        </tr>
        <tr>
            <td colspan="5">新增商品</td>
        </tr>
        <tr>
            <td>商品</td>
            <td>單價</td>
            <td>數量</td>
            <td>小計</td>
            <td>按鈕</td>
        </tr>
        <tr>
            <td>test</td>
            <td><input type="text"/></td>
            <td><input type="text" /></td>
            <td><span>dd</span></td>
            <td><input type="button"/></td>
        </tr>
    </table>
}
