
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function displayResult() {
        var num = document.getElementById("myTable").rows.length;
        var Pdt = '@Ajax.JavaScriptStringEncode(Html.DropDownList("Pdt", (List<SelectListItem>)ViewBag.Pdt, new { onchange = "ChangePrice(this.id);" }).ToHtmlString())';
        Pdt = Pdt.replace(/&quot;/g, "\"");
        var NewPdt = Pdt.substring(0, 12) + "pdt" + num + Pdt.substring(15, Pdt.length);
        document.getElementById("myTable").insertRow(-1).innerHTML = '<td id="' + num + '">' + NewPdt + '</td><td id="'+num+'"><input type="text" name="UnitPrice" value="18.0000" id = "P'+num+'" style = "text-align:right" /></td><td id="' + num + '"><input type="text" name="Qty" value="1" style = "text-align:right" /></td><td id="' + num +'" style = "text-align:right">500</td><td id="'+num+'"><input type="button" id="'+num+'" onclick="Delete(this.id)" value="取消"/></td>';
    }

    function Delete(id) {
        var ID = "#" + id;                
        for (var i = 0; i < 6; i++) {
            $(ID).remove();
        }
    }

    function ChangePrice(id) {
        var GetVal = "#" + id + " option:selected";                
        var Price = GetPrice(($(GetVal).val()));
        var ID = "#P" + id.substring(3, id.length);            
        $(ID).prop("value", Price);
    }

    function GetPrice(id) {
        var array = @Html.Raw(Json.Encode(@ViewBag.Price));
        return (array[id]);
    }

</script>

<script>
/*    var HtmlUtil = {
             1.用浏览器内部转换器实现html转码
      htmlEncode: function (html) {
                     //1.首先动态创建一个容器标签元素，如DIV
                     var temp = document.createElement("div");
                     //2.然后将要转换的字符串设置为这个元素的innerText(ie支持)或者textContent(火狐，google支持)
            (temp.textContent != undefined) ? (temp.textContent = html) : (temp.innerText = html);
                    //3.最后返回这个元素的innerHTML，即得到经过HTML编码转换的字符串了
                     var output = temp.innerHTML;
                     temp = null;
                     return output;
            
        },
             2.用浏览器内部转换器实现html解码
      htmlDecode: function (text) {
          alert(text);
                     //1.首先动态创建一个容器标签元素，如DIV
                     var temp = document.createElement("div");
                     //2.然后将要转换的字符串设置为这个元素的innerHTML(ie，火狐，google都支持)
                     temp.innerHTML = text;
                     
                     //3.最后返回这个元素的innerText(ie支持)或者textContent(火狐，google支持)，即得到经过HTML解码的字符串了。
                     var output = temp.innerText || temp.textContent;
                     
                     temp = null;
                     return output;
            
        }
};*/
</script>

@using (Html.BeginForm("Insert", "Insert", FormMethod.Post))
{    
    <table style="border:3px #cccccc solid; text-align:center" cellpadding="10" border="1" align="center" id="myTable" >
        <tr>
            <td colspan="5" id="two">新增訂單</td>
        </tr>
        <tr>
            <td>客戶名稱</td>
            <td colspan="4">@Html.DropDownList("CustName", (List<SelectListItem>)ViewBag.Cust)</td>
            
        </tr>
        <tr>
            <td>負責員工</td>
            <td colspan="4">@Html.DropDownList("EmpName", (List<SelectListItem>)ViewBag.EmpName)</td>
        </tr>
        <tr>
            <td>訂單日期</td>
            <td><input type="date" name="OrderDate"  />
            <td>需要日期</td>
            <td colspan="2"><input type="date" name="RequiredDate"  /></td>
        </tr>
        <tr>
            <td>出貨日期</td>
            <td><input type="date" name="ShippedDate"  /></td>
            <td>運費</td>
            <td colspan="2"><input type="text" name="Freight"  /></td>
        </tr>
        <tr>
            <td>出貨公司名稱</td>
            <td colspan="4">@Html.DropDownList("CpyName", (List<SelectListItem>)ViewBag.CpyName)</td>
        </tr>
        <tr>
            <td>出貨國家</td>
            <td>@Html.TextBox("ShipCountry")</td>
            <td>出貨城市</td>
            <td colspan="2">@Html.TextBox("ShipCity")</td>
        </tr>
        <tr>
            <td>出貨地區</td>
            <td>@Html.TextBox("ShipRegion")</td>
            <td>郵遞區號</td>
            <td colspan="2">@Html.TextBox("ShipPostalCode")</td>
        </tr>
        <tr>
            <td>出貨地址</td>
            <td>@Html.TextBox("ShipAddress")</td>
            <td>出貨說明</td>
            <td colspan="2">@Html.TextBox("Content")</td>
        </tr>
        <tr>
            <td colspan="2">訂單金額總計</td>
            <td align="right" colspan="3">50000</td>
        </tr>
        <tr>
            <td><input type="button" onclick="javascript:window.history.go(-1);" value="返回上一頁"></td>
            <td colspan="4">
                <input type="submit" name="submit" value="存檔" />
            </td>
        </tr>

        <tr>
            <td colspan="5">訂單明細</td>
        </tr>
        <tr>
            <td colspan="5"><input type="button" onclick="displayResult()" value="Insert new row" /></td>
        </tr>
        <tr>
            <td>商品</td>
            <td>單價</td>
            <td>數量</td>
            <td>小計</td>
            <td>按鈕</td>
        </tr>

    </table>
}
